[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urllib3 = "==1.23"
requests = "==2.20.0"
xlwt = "*"
six = "==1.11.0"
numpy = "==1.15.0"
simplejson = "==3.16.0"
xlrd = "==1.1.0"
colorama = "==0.3.9"
jieba = "==0.39"
coverage = "==4.5.2"
coveralls = "==1.5.1"
pylint = "==2.3.1"
Jinja2 = "==2.11.3"
PyYAML = "==5.1"

[dev-packages]

[requires]
python_version = "3.6"
